.Dropdown-Container {
width: 20%;
text-align: left;
border: 3px solid #038aff ;
position: relative;
margin: 5px;
border-radius: 5px;
}
.icon{
  text-align: right;
}
.menu{
  position: absolute;
  transform: translateY(14px);
  width: 100%;
  border: 1px solid black;
  overflow: auto;
  max-height: 120px;
  border-radius: 5px;

}
.item{
  padding: 5px;
}
.Options:hover{
  background-color: aliceblue;
}
.Options{
  display: flex;
  flex-direction: row;
}
.boxIcon{
  margin-top: 5px;
}
.labelList{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 position: relative;
 top: 12px;
 left: 10px;
}
.arrowIcon{
  position: relative;
  bottom: 5px;
}
